
body{
  font-family:Patrick Hand SC;
  font-size:25px;
}
h1{
  font-family:Cabin Sketch;
  font-size:80px;
  float:center;
  text-align: center;
}
form{
  background-color:#211e1e;
  color:white;
  border-radius:5px;
  height:auto;
  width:450px;
}
#wrapper{
  margin-top:-50px;
 float:center;
}
input{
  font-family:Waiting for the Sunrise;
  font-size:17px;
  font-weight:bold;
}